@{
    ViewBag.Title = "BuyJobPackage";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}
@model JobSearchingSystem.Models.JobPackageViewModels
<style>
    .package {
        margin-left: 15%;
        text-align: left;
    }

    .enable {
        color: green;
        font-size: x-large;
    }

    .disable {
        color: red;
        font-size: x-large;
    }
</style>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<script>
    function commafy(num) {
        var str = num.toString().split('.');
        if (str[0].length >= 5) {
            str[0] = str[0].replace(/(\d)(?=(\d{3})+$)/g, '$1,');
        }
        if (str[1] && str[1].length >= 5) {
            str[1] = str[1].replace(/(\d{3})/g, '$1 ');
        }
        return str.join('.');
        
    }
    $(document).ready(function () {
        
        $(".pricePackage").each(function () {
            var num = $(this).text();
            var num2 = commafy(num);
            $(this).text(num2);
        });

        $('.formbuilder div').on('click', function () {
            $('.formbuilder div').removeClass('active');
            $(this).children("div:first").addClass('active');
        });
    });
</script>

<div id="page-pricing" class="row">
    <div class="col-md-12">
      
        <div class="container">
            <div class="row row-merge formbuilder">

                @foreach (var item in Model.jobPackageList)
                {
                    <div class="col-md-3 col-sm-6">
                    <div class="pricing-widget">
                        <div class="pricing-head">@item.Name</div>
                        <div class="pricing-body">
                            <div class="pricing-cost">
                                <strong class="pricePackage" style="display: block">@item.Cost.ToString().TrimEnd('0').TrimEnd(',')</strong>
                                <small>@item.JobNumber lần đăng tuyển</small>
                            </div>
                            <ul class="pricing-list text-center">
                              
                                <li></li>   <br />  <br />                         
                                <li class="package"><i class="fa fa-check enable"></i><strong>30</strong> ngày đăng tuyển dụng </li>
                                @if (item.IsHighlight)
                                {
                                     <li class="package"><i class="fa fa-check enable"></i>Gia Tăng Tô Đậm & Đỏ </li>
                                }
                                else
                                {
                                    <li class="package"><i class="fa fa-times disable"></i>Gia Tăng Tô Đậm & Đỏ </li> 
                                }

                                @if (item.IsCategoryPriority)
                                {                                     
                                     <li class="package"><i class="fa fa-check enable"></i>Ưu Tiên Ngành Nghề</li>
                                }
                                else
                                {
                                    <li class="package"><i class="fa fa-times disable"></i>Ưu Tiên Ngành Nghề</li>
                                }

                                @if (item.IsHomepagePosting)
                                {
                                    <li class="package"><i class="fa fa-check enable"></i>Việc Làm Trên Trang Chủ</li>
                                   
                                }
                                else
                                {
                                     <li class="package"><i class="fa fa-times disable"></i>Việc Làm Trên Trang Chủ</li>
                                }
                                   
                               
                                 
                                <li class="text-center"><a href="/JobPackage/Invoice/?jobPackageID=@item.JobPackageID" class="btn btn-default btn-success">Mua</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                }          
            </div>
        </div>
</div>
</div>