
@{
    ViewBag.Title = "RegisterAccount";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}
<div class="page-content" style="padding: 20px 0px 20px 250px">
    <div class="col-lg-9 panel panel-default">
        <br />
        <div class="panel panel-grey">
            <div class="panel-heading">Đăng ký tài khoản</div>
            <div class="panel-body pan">
                <form action="#" class="form-horizontal">
                    <div class="form-body pal">
                        <div class="form-group">
                            <label for="inputUsername" class="col-md-3 control-label">Họ và tên <span class="require">*</span></label>

                            <div class="col-md-9">
                                <div class="input-icon"><i class="fa fa-user"></i><input id="inputUsername" type="text" placeholder="Họ và tên" class="form-control"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-md-3 control-label">Email <span class="require">*</span></label>

                            <div class="col-md-9">
                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span><input type="text" placeholder="Địa chỉ email" class="form-control"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress" class="col-md-3 control-label">Mật khẩu <span class="require">*</span></label>

                            <div class="col-md-9">
                                <div class="input-group"><input type="password" placeholder="Mật khẩu" class="form-control"><span class="input-group-addon"><i class="fa fa-key"></i></span></div>
                                <div style="font-style: italic; margin-left: 10px; ">Mật khẩu phải từ 6 đến 16 kí tự bao gồm ít nhật 1 chữ hoa, 1 chữ thường và 1 số</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputAddress" class="col-md-3 control-label">Xác nhận mật khẩu <span class="require">*</span></label>

                            <div class="col-md-9">
                                <div class="input-group"><input type="password" placeholder="Nhập lại mật khẩu" class="form-control"><span class="input-group-addon"><i class="fa fa-key"></i></span></div>
                            </div>

                        </div>
                    </div>
                    <div class="form-actions none-bg">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary">Đăng ký</button>
                            &nbsp;
                            <button type="button" class="btn btn-green">Hủy</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
